@import "tailwindcss";
@plugin "daisyui" {
	themes: winter --default, dark;
}

html {
	scroll-padding-top: 72px;
	scroll-behavior: smooth;
}

input[type='range']::-webkit-slider-thumb {
	width: 24px;
	height: 24px;
}
